body {
    margin: 0;
    padding: 0;
    border: 0;
}


p {
    font-family: sans-serif;
}

.tira {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(10, 148, 141), rgb(6, 231, 247));
}

.tira2 {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(95, 196, 191), rgb(215, 248, 250));
}
.pg-principal {
    color: rgb(77, 72, 72);
    text-align: center;

}
.img-fundo{
    background-image: url("assets/img/fundo.icon.jpg");
    width:5000px;
    height: 900px;
}

.produtos_imagens {
    background-color: rgb(51, 165, 152);
    text-align: center;
    color: rgb(0, 0, 0);

}

.img-back{
 background-image: url('');

}

.imagens {
    padding-bottom: 50px;
}

.titulo3 {
    text-align:center; 
    padding-bottom: 10px;
    padding-top: opx;
}

.menu a {
    text-decoration: nome;
    color: black;
}

.menu li:hover {
    color: aliceblue;
}

.menu li {
    display: inline;
    margin: 5px;
}

.contato {
    text-align: center;
}


.kkk {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    justify-content:center ;
 }
 .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: space-between;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.tm.icon {
    height: 75;
    width: auto;
}

.form-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.p-mw {
    max-width: 400px;
    text-align: justify;

}


.p-30 {
    padding: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.tm-btn {
    height: fit-content;
    width: fit-content;
}

.tm.f {
    margin-bottom: 0px;


}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding-top: 20px;

}



.top{
    
    padding-left: 650px;
   
}

.tm-icon {
    height: 80px;
    width: auto;
    
}

.tm-icon4 {
    height: 20px;
    width: auto;
    
}
.tm-icon1 {
    
    height: 90px;
    width: auto;
}
.tm-icon2 {
    height: 47px;
    width: auto;
    padding-left: 720px;
    

}

.tm-icon3 {
    height: 79px;
    width: auto;
    padding-left: 700px;
   
}
.p-200{
    padding-top: 30px;
    padding-right: 500px;
    
}

.p-60{

}
.p-50 {
   
    padding-left: 5px;
}
.p-50t {
    padding-bottom: 0px;
    
}
.p-p15 {
    padding-top: 15px;
}

